/* _____Globals */

:root {
  /* Font */
  --font: 'Public Sans', sans-serif;

  /* Primary Colors */
  --primary-color: hsl(233, 26%, 24%);
  --lime-color: hsl(136, 65%, 51%);
  --cyan-color: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --white-color: hsl(0, 0%, 100%);
  --light-gray-color: hsl(0, 0%, 98%);
  --grayish-white-color: hsl(220, 16%, 96%);
  --gray-color: hsl(233, 8%, 62%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 18px;
  color: var(--gray-color);
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* _____Header */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__link {
  color: var(--gray-color);
  text-decoration: none;
}
