/* _____Globals */

:root {
  /* Font */
  --font: 'Public Sans', sans-serif;

  /* Primary Colors */
  --primary-color: hsl(233, 26%, 24%);
  --lime-color: hsl(136, 65%, 51%);
  --cyan-color: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --white-color: hsl(0, 0%, 100%);
  --light-gray-color: hsl(0, 0%, 98%);
  --grayish-white-color: hsl(220, 16%, 96%);
  --gray-color: hsl(233, 8%, 62%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 18px;
  color: var(--gray-color);
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  width: 180px;
  padding: 14px 8px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 700;
  color: var(--light-gray-color);

  border: none;
  border-radius: 40px;
  background-image: linear-gradient(
    to right,
    var(--lime-color),
    var(--cyan-color)
  );
}

ul {
  list-style: none;
}

/* _____Header */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__link {
  color: var(--gray-color);
  text-decoration: none;
}

/* Footer */
.footer{
  height: 126px;
  width: 100%;
  background: var(--primary-color);
}

.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-top: 30px;
}

.footer_logo{
  display: block;
  height: 100px;
}

.nav_footer_container{
  padding: 0;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  display: flexbox;
  position: fixed;
}

.nav_footer_container ul{
  padding-top: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_footer_text_container{
  height: 100px;
}

.nav_footer_text_container ul{
  color: var(--grayish-white-color);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 120px
}

.text_group1{
  gap: 40px;
}

